<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Ask Harrison</title>

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

    <style type="text/tailwindcss">
        @layer base {
          h1 {
            @apply text-3xl font-bold my-4;
          }
          h2 {
            @apply text-2xl font-semibold my-3;
          }
          h3 {
            @apply text-xl font-semibold my-2;
          }
          h4 {
            @apply text-lg font-semibold my-2;
          }

          a {
            @apply text-blue-500 hover:underline;
          }
        }
      </style>
</head>

<body>

    <!-- <form id="questionForm">
        <input type="text" id="question" placeholder="Ask a question..." required>
        <button type="submit">Ask</button>
    </form>
    
    <div id="answer"></div> -->
    <div id="root"></div>

    <!--     <script src="{{ url_for('static', filename='script.js') }}"></script> -->
    <script data-type="module" type="text/babel" src="{{ url_for('static', filename='app.jsx') }}"></script>
</body>

</html>